h2,h3,h4,h5{
   color: #0000008e; 
   font-family: Verdana, Geneva, Tahoma, sans-serif;
}

h2{
    color: #000000de;
}




.ItemList{
    margin: auto;
    border: 1px solid;
    border-radius: 5px;
    
}

.imgSize{
    height: 300px;
    width: 300px;
    border-radius: 5px;
}

@media screen and (max-width: 600px){
    .ItemListContainer{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;        
    }

    .imgSize{
        height: 300px;
        width: 300px;
        padding-top: 6px;
    }

    h2,h3,h4,h5{
        padding-left: 4px;
    }
}

@media screen and (min-width: 600px){
    .ItemListContainer{
        display:flex;
        flex-wrap: wrap;
    }        

     .imgSize{
        height: 300px;
        width: 300px;
    }
}

   